<div class="nav-container">
  <div class="nav">
    <img src="../assets/Logo.svg" class="logo" width="48" height="48"/>
    <div class="brand nav-item">КРАСНАЯ ЛИНИЯ</div>
    <div class="nav-first"></div>
    <input type="text" placeholder="Логин" class="input-outline nav-item" [(ngModel)]="login" *ngIf="!authorized">
    <input type="text" placeholder="Пароль" class="input-outline nav-item" [(ngModel)]="password" *ngIf="!authorized">
    <button class="nav-item btn" (click)="authorize();" *ngIf="!authorized">Войти</button>
    <div class="nav-item nav-first user-info" *ngIf="authorized">Пользователь с именем: {{name}}</div>
  </div>
</div>
