.nav-shadow {
    box-shadow: 0 0 10px red;
}

.logo {
    padding: 5px;
}

.nav-container {
    background-color: #F2F2F2;
}

.brand {
    font: 2rem 'YesevaOne-Regular.ttf';
    font-weight: 600;
    color: #BF1F1F;
}
