.items-container {
  display: flex;
  flex-direction: column;
}

.expand-item {
  display: flex;
  flex-direction: column;
}

.expand-item > Button {
  margin: 5px 0 5px 0;
}

.expandable-item {
  margin: 10px;
}
